<app-nav-bar></app-nav-bar>
<div class="container">
    <br>
    <h2>Carrito</h2>
    <table id="table-carrito" class="table">
        <thead>
            <tr>
                <th> ID </th>
                <th> Nombre </th>
                <th> Precio </th>
                <th> Cantidad </th>
                <th> Total </th>
                <th> Acción </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productCart of carrito">
                <td>{{productCart.id}}</td>
                <td>{{productCart.nombre}}</td>
                <td>{{productCart.precio}}</td>
                <td>{{productCart.quantity}}</td>
                <td>{{(productCart.precio * productCart.quantity)}}</td>
                <td><button type="button" class="btn btn-primary hemera-button" (click)="deleteProductCart(productCart.id)" >Eliminar del carrito</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td colspan="1" style="text-align: right;">Total:</td>
                <td colspan="1">{{total}}</td>
                <td colspan="1"></td>
                
            </tr>
            
        </tfoot>
    </table>
</div>