<app-nav-bar></app-nav-bar>
<div class="container">
    <br>
    <h2>Productos disponibles</h2>
    <div class="grid-productos">
        <div class="product" *ngFor="let producto of productos">
            <div class="card">
                <div class="ccc">
                    <p class="text-center"><img src="{{ producto.imagen }}" class="imw"></p>
                </div>
                <div class="card-body">
                    <h5 class="text-center">{{ producto.nombre }}</h5> 
                    <p class="text-center">Precio: {{ producto.precio }}</p>
                    <p class="text-center">
                        <button (click)="addToCart(producto.id, 1)" class="add-to-cart cc1">Agregar al carrito</button>
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div>