<nav class="navbar navbar-expand-sm hemera-navbar">
    <div class="container-fluid">
        <ul class="navbar-nav hemera-navbar-effect">
            <a class="navbar-brand" routerLink="/dashboard">
                <img src="./assets/img/logo/ICONO.jpg" alt="" width="80" height="80">
            </a>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">Tienda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cart">Carrito</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Iniciar sesión</a>
            </li>
        </ul>
    </div>
</nav>