<div class="wrapper fadeInDown container">
    <div id="formContent">
        <div class="fadeIn first">
            <!-- Logo -->
            <img src="./assets/img/logo/LOGO-PNG-AMARILLO.png" class="img-login" id="icon" alt="User Icon" />
        </div>
        <!-- register Form -->
        <form [formGroup]="clientForm" (ngSubmit)="submitClientForm()">
            <div formGroupName="user">
                <div class="row">
                    <div class="form-group col-12">
                        <label for="email">Dirección Email <b *ngIf="clientForm.get('user.email')?.hasError('email')">Email no valido</b></label>
                        <input type="text" id="email" class="fadeIn second" formControlName="email" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="name">Nombre <b *ngIf="clientForm.get('user.nombre')?.hasError('required')">(Obligatorio)</b></label>
                        <input type="text" id="name" class="fadeIn second" formControlName="nombre" placeholder="Nombre">
                    </div>
                    <div class="form-group col-6">
                        <label for="username">Nombre de usuario <b *ngIf="clientForm.get('user.username')?.hasError('required')">(Obligatorio)</b></label>
                        <input type="text" id="username" class="fadeIn second" formControlName="username" placeholder="Username">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="password">Contraseña <b *ngIf="clientForm.get('user.password')?.hasError('required')">(Obligatorio)</b></label>
                        <input type="text" id="password" class="fadeIn third" formControlName="password" placeholder="Contraseña">
                    </div>
                    <div class="form-group col-6">
                        <label for="repeat-password">Repetir contraseña</label>
                        <input type="text" id="repeat-password" class="fadeIn second" placeholder="Repetir contraseña">
                    </div>
                </div>
                <div class="row" style="display:none">
                    <div class="form-group col-12">
                        <label for="userType">usertype hidden</label>
                        <input type="text" id="userType" formControlName="usertype" value="client">
                    </div>
                </div>
            </div>
            <input type="submit" class="fadeIn fourth" value="Entrar">
        </form>
        <!-- volver  -->
        <div id="formFooter" class="row">
            <div class="col-12">
                <a class="underlineHover" routerLink="/login">Volver</a>
            </div>
        </div>
    </div>
</div>