<div class="wrapper fadeInDown container">
    <div id="formContent">

        <div class="fadeIn first">
            <!-- Logo -->
            <img src="./assets/img/logo/LOGO-PNG-AMARILLO.png" class="img-login" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form id="login-form">
            <input type="text" id="username" class="fadeIn second" name="login" placeholder="Nombre de Usuario" required>
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña" required>
            <input type="submit" class="fadeIn fourth" value="Entrar">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter" class="row">
            <div class="col-5">
                <a class="underlineHover" routerLink="/register-client">Registrar Clientes</a>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <a class="underlineHover" routerLink="/register-admin">Registrar Admins</a>
            </div>
        </div>

    </div>
</div>